* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

header {
  background-color: #ff9a4b;
  height: 50px;
}

footer {
  height: 50px;
  background-color: #AAAAAA;
}